<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERP Billing:</title>
    <link rel="stylesheet" href="/css/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"> 
    <link href="https://file.myfontastic.com/ffPaZ2QSodNqBh5M58tXZA/icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/css/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>
</head>
<body>
    <%- include('inc/menu')%>