<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ERP Billing:</title>
    <link rel="/css/dist/css/bootstrap.min.css" type="" href="">
</head>
<body>
    Hello <%= name+1%>
</body>
</html>