<link rel="stylesheet" href="/css/dist/css/bootstrap.min.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/css/dist/js/bootstrap.min.js"></script>
    <link href="/css/styleLogin.css" rel="stylesheet">



<div class="container">
    <form id="fmLogin" method="post" action="/login" novalidate></form>
        <div class="row justify-content-center"> 
            <div class="column justify-content-center">

                        <img class="mb-4" src="/img/login.png" alt="" width="72" height="72">

                        <label for="login">Login</label>
                        <input id="login" name="login" class="form-control" value="admin" type="text">

                
                    <div class="form-group">
            

                        <label for="senha">Senha</label>
                        <input id="senha" name="senha" class="form-control" value="admin" type="password">

                    </div>

                    <input class="btn btn-primary" type="submit" value="Entrar" >
               
                    <br>
                    <br>
        
                
            </div>
        </div>
    </form>
<div class="container ">